/*font style*/
.carter-one-regular {
    font-family: "Carter One", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
/*nav style*/
.nav-prymary{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;
}
nav{
display: flex;
}
.nav-title a{
font-size: 18px;
font-weight:bold;
color: #0D1321;
text-decoration: none;
}
nav li{
list-style: none;
}
 /*shor-color*/

.black-2{
    color:#0D1321;
}
/*button style*/
.btn-primary{
    background-color: white;
    font-size: 10px;
    font-weight: 200;
    padding: 5px 10px;
    border-radius: 8px;
    border-width: 1.5px;
}
/*bannaer style*/

.banner-container {
    background-image: url("../assets/Hero-bg.png");
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

}
.banner-contain{
    margin: 0 auto;
    align-items: center;
    justify-items: center;
    text-align: center;
}
#btn-primary-banner{
background-color:black ;
text-align: center;
color: #ffff;
padding: 10px 24px;
border-radius: 8px;
top: 32px;
font-size: 15px;
}
